body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
}

nav {
  display: flex;
  background-color: rgb(133, 210, 255);
  flex-direction: column;
}

nav ul {
  align-self: center;
  margin: 0;
  padding: 16px 0 16px;
}

.ghost-item {
  display: none;
}

.logo-size {
  position: relative;
  height: 10rem;
  width: 10rem;
  align-self: center;
  top: 20px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  font-size: larger;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
}

.citation {
  font-size: larger;
  padding: 2%;
  margin-top: 6%;
  text-align: center;
}

span {
  color: rgb(6, 124, 197);
  font-weight: bold;
}
.main {
  height: 100%;
  max-width: 100vw;
  background-color: rgb(236, 218, 195);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
}

.img-article {
  position: relative;
  width: 90%;
  padding: 10px;
  background-color: white;
  margin-top: 5vh;
  margin-bottom: 0;
}

.description-article {
  text-align: center;
  background-color: white;
  padding: 0px 10px 10px 10px;
  margin-top: 0;
  width: 90%;
}

.title-description-article {
  font-size: 1.2em;
}

.link-description-article {
  text-decoration: none;
  color: rgb(49, 82, 135);
}

.eventpic-size {
  position: relative;
  width: 90%;
  padding: 10px;
  background-color: white;
  margin-top: 5vh;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(6, 124, 197);
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
}

/* Page actualités */

.implication-part {
  max-width: 100vw;
  min-height: 70vh;
  background-color: rgb(250, 190, 120);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.implication-part > h2 {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  color: white;
}

.handshake {
  width: 75px;
  height: 75px;
  filter: invert(100%);
  margin-top: 25px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.links {
  text-align: center;
  margin: 0 0 20px;
}

.implication-part > ul > li,
.margin-sub-link {
  margin: 20px;
}

.title-link,
.sub-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.title-link:hover,
.sub-link:hover {
  text-decoration: underline;
}

.special-link {
  color: rgb(6, 124, 197);
}

.actualite-pic-container {
  max-width: 100%;
  padding: 30px;
  background-color: rgb(239, 235, 223);
}

.actualite-pic {
  width: 100%;
  max-width: 100%;
}

.actualite-content {
  padding: 30px;
  background-color: whitesmoke;
}

.special-span {
  text-decoration: underline;
}

.actualite-content > h1 {
  color: rgb(49, 82, 135);
  font-size: 2rem;
}

.actualite-content > p {
  font-size: 0.9rem;
  line-height: 150%;
}

/* Pour les smartphones vraiment petits */

@media screen and (max-width: 340px) {
  .special-ghost-item {
    display: none;
  }
}

/* Tablettes */

@media screen and (min-width: 768px) {
  .citation {
    font-size: 1.3rem;
  }

  .main {
    padding: 45px 12% 140px;
  }
}

/* Ordinateurs */

@media screen and (min-width: 1150px) {
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-self: center;
  }

  nav ul li a {
    font-size: 1rem;
  }

  .logo-size {
    height: 12rem;
    width: 12rem;
    top: 50px;
  }

  .ghost-item {
    display: block;
  }

  .ghost-item-desktop {
    display: none;
  }

  .citation {
    font-size: 1.3rem;
  }

  .description-article {
    margin-top: 2vh;
    font-weight: unset;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .img-article {
    height: auto;
  }

  .citation-shape {
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    padding: 45px 6% 160px;
  }

  .grid-item-1,
  .grid-item-2,
  .grid-item-5,
  .grid-item-6 {
    grid-column: 1;
    margin-left: 2.5%;
  }

  .grid-item-7,
  .grid-item-8,
  .grid-item-9,
  .grid-item-10 {
    margin-left: 2.5%;
  }

  .eventpic-size,
  .grid-item-4 {
    grid-column: 2 / 4;
  }

  .grid-item-7,
  .grid-item-8 {
    grid-column: 2;
  }

  .grid-item-9,
  .grid-item-10 {
    grid-column: 3;
  }

  .grid-item-1 {
    grid-row: 1 / 3;
    margin-bottom: 62%;
  }

  .grid-item-2 {
    grid-row: 2 / 4;
    height: 87%;
  }

  .eventpic-size {
    grid-row: 1 / 3;
    height: 86%;
    margin-top: 12.8%;
  }

  .grid-item-4 {
    grid-row: 3;
    height: 74%;
  }

  .eventpic-size,
  .grid-item-4 {
    width: 95%;
    margin-left: 1.4%;
  }

  .grid-item-5,
  .grid-item-7,
  .grid-item-8 {
    grid-row: 4;
  }

  .grid-item-6,
  .grid-item-8,
  .grid-item-10 {
    grid-row: 5;
    height: 93%;
  }

  .grid-item-5,
  .grid-item-7,
  .grid-item-9 {
    margin-top: 17%;
  }

  /* Actualités sur la partie ordinateur */

  .links {
    display: flex;
    flex-direction: row;
  }

  .implication-part {
    justify-content: unset;
    min-height: 52vh;
  }

  .links-item1 {
    margin-right: 5%;
    border-style: none dashed none none;
    border-color: white;
  }

  .links-item2 {
    border-style: none dashed;
    border-color: white;
  }

  .links-item3 {
    margin-left: 5%;
    border-style: none none none dashed;
    border-color: white;
  }

  .margin-sub-link {
    margin: 10px;
  }
}
