body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  background-color: rgb(133, 210, 255);
  flex-direction: column;
}

nav ul {
  align-self: center;
  margin: 0;
  padding: 16px 0 16px;
}

.ghost-item {
  display: none;
}

.logo-size {
  position: relative;
  height: 10rem;
  width: 10rem;
  align-self: center;
  top: 20px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
}

.big:hover {
  font-size: 1.1rem;
}

.citation {
  padding: 2%;
  margin-top: 6%;
  text-align: center;
}

span {
  color: lightskyblue;
  font-weight: bold;
}
.main {
  height: 100vh;
  width: 100vw;
  background-color: rgb(236, 218, 195);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square-article {
  margin-top: 5vh;
  padding: 10px;
  background-color: white;
}

.img-article {
  position: relative;
}

.description-article {
  font-weight: bold;
  color: rgb(0, 2, 94);
  text-align: center;
}

/* Pour les smartphones vraiment petits */

@media screen and (max-width: 340px) {
  .special-ghost-item {
    display: none;
  }
}

/* Tablettes */

@media screen and (min-width: 768px) {
  .citation {
    font-size: 1.3rem;
  }
}

/* Ordinateurs */

@media screen and (min-width: 992px) {
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-self: center;
  }

  nav ul li a {
    font-size: 1rem;
  }

  .logo-size {
    height: 12rem;
    width: 12rem;
    top: 50px;
  }

  .ghost-item {
    display: block;
  }

  .citation {
    font-size: 1.3rem;
  }

  .citation-shape {
    display: flex;
    flex-direction: row;
    align-content: center;
  }
}
